In [1]:
import pandas as pd

In [2]:
# Вказати абсолютний шлях до файлу CSV
file_path = r'e:\go_it\hw2\2017_jun_final.csv'

# Прочитати файл 2017_jun_final.csv за допомогою методу read_csv
df = pd.read_csv(file_path)

In [3]:
# Виведіть перші кілька рядків таблиці за допомогою методу head
print("Перші кілька рядків таблиці:")
print(df.head())

Перші кілька рядків таблиці:
   N                    Посада Мова програмування Спеціалізація  \
0  1        Junior QA engineer                NaN     Manual QA
1  2        Junior QA engineer                NaN     Manual QA
2  3         Software Engineer            C#/.NET           NaN
3  4         Software Engineer         JavaScript           NaN
4  5  Senior Software Engineer         JavaScript           NaN

  Загальний досвід роботи Досвід роботи на поточному місці  \
0                     0.5                              0.5
1         менше 3 місяців                  менше 3 місяців
2                       4                                1
3                       5                                4
4       10 і більше років                              0.5

   Зарплата на місяць  Зміна зарплати за 12 місяців   Місто   Розмір компанії  \
0                 400                             0  Харків        до 10 осіб
1                 430                           130  Харків  більше 1000 осіб
2                2500                           800    Київ      до 1000 осіб
3                2000                           400   Одеса       до 200 осіб
4                4500                           500    Інше        до 10 осіб

   ... Ще студент                    Рівень англійської  \
0  ...       True    Pre-intermediate (нище середнього)
1  ...       True  Upper-Intermediate (вище середнього)
2  ...      False               Intermediate (середній)
3  ...      False    Pre-intermediate (нище середнього)
4  ...      False               Intermediate (середній)

                   Предметна область      Дата заповнення  \
0                      iOS,eCommerce  12/06/2017 12:38:08
1                       Веб-розробка  12/06/2017 12:42:51
2  Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3  Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4  Desktop Applications,Веб-розробка  12/06/2017 13:03:47

                                          User.Agent   exp current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5

  salary Валюта  cls
0    400    NaN   QA
1    430    NaN   QA
2   2500    NaN  DEV
3   2000    NaN  DEV
4   4500    NaN  DEV

[5 rows x 25 columns]

In [4]:
# Визначте розмір таблиці за допомогою методу shape
rows, columns = df.shape
print("\nРозмір таблиці: {} рядків, {} стовпців".format(rows, columns))

Розмір таблиці: 8704 рядків, 25 стовпців

In [5]:
# Визначте типи всіх стовпців за допомогою dataframe.dtypes
print("\nТипи стовпців:")
print(df.dtypes)

Типи стовпців:
N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [6]:
# Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
missing_percentage = (df.isnull().sum() / len(df)) * 100
print("\nЧастка пропусків в кожній колонці:")
print(missing_percentage)

Частка пропусків в кожній колонці:
N                                    0.000000
Посада                               0.000000
Мова програмування                  44.232537
Спеціалізація                       82.938879
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Університет                          4.113051
Ще студент                           0.000000
Рівень англійської                   0.000000
Предметна область                    2.562040
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64

In [7]:
# Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"
df_cleaned = df.dropna(subset=['Мова програмування'])

In [8]:
# Знову порахуйте, яка частка пропусків міститься в кожній колонці
missing_percentage_cleaned = (df_cleaned.isnull().sum() / len(df_cleaned)) * 100
print("\nЧастка пропусків в кожній колонці після видалення рядків з пропусками:")
print(missing_percentage_cleaned)

Частка пропусків в кожній колонці після видалення рядків з пропусками:
N                                    0.000000
Посада                               0.000000
Мова програмування                   0.000000
Спеціалізація                       99.979398
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Університет                          4.758962
Ще студент                           0.000000
Рівень англійської                   0.000000
Предметна область                    0.618047
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.835187
cls                                  0.164813
dtype: float64

In [9]:
# Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
df_dropped = df.dropna()

In [10]:
# Визначте новий розмір таблиці за допомогою методу shape
rows_dropped, columns_dropped = df_dropped.shape
print("\nРозмір таблиці після видалення рядків з пропусками: {} рядків, {} стовпців".format(rows_dropped, columns_dropped))

Розмір таблиці після видалення рядків з пропусками: 0 рядків, 25 стовпців

In [11]:
# Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
python_data = df[df['Мова програмування'] == 'Python']

In [12]:
# Визначте розмір таблиці python_data за допомогою методу shape
rows_python, columns_python = python_data.shape
print("\nРозмір таблиці з Python-розробниками: {} рядків, {} стовпців".format(rows_python, columns_python))

Розмір таблиці з Python-розробниками: 207 рядків, 25 стовпців

In [13]:
# Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"
grouped_data = df.groupby('Посада')

In [14]:
# Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"
aggregated_data = grouped_data.agg({'Зарплата на місяць': ['min', 'max']})
print("\nАгреговані дані по зарплаті за посадами:")
print(aggregated_data)

Агреговані дані по зарплаті за посадами:
                                           Зарплата на місяць
                                                          min    max
Посада
Business analyst                                          200   5000
DBA                                                       380   6000
Data Scientist / Data Analyst                             150   8000
Designer                                                  100   4000
DevOps                                                    194  10000
Director of Engineering / Program Director               1500  34000
ERP / CRM                                                 100   6000
Game designer                                             150   6800
HR                                                        100   7000
HTML coder                                                154   3000
Junior QA engineer                                         96   2000
Junior Software Engineer                                   75   2600
Marketing                                                 100   4000
Product Manager                                           250   5000
Project manager                                           190   8000
QA Tech Lead                                              430   6000
QA engineer                                               150   2900
Research Engineer                                         114   4000
Sales manager                                             120   2300
Scrum Master                                              370   4500
Security Specialist                                       300   4000
Senior Project Manager / Program Manager                  200   9100
Senior QA engineer                                        400   6000
Senior Software Engineer                                  350   9200
Software Engineer                                         100   7000
Support                                                   138   3650
Sysadmin                                                   90   3000
System Architect                                          400  10000
Talent Researcher                                         100   1700
Team lead                                                 300   7000
Technical Lead                                            500  18000
Technical writer                                          200   3000

In [15]:
# Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць.
def fill_avg_salary(group):
    non_zero_values = group[group != 0]
    if non_zero_values.empty:
        return pd.Series([0] * len(group), index=group.index)
    return pd.Series([non_zero_values.mean()] * len(group), index=group.index)

In [16]:
# Використовуйте її для методу apply та створіть новий стовпчик "avg"
df['avg'] = df.groupby('Посада')['Зарплата на місяць'].apply(lambda group: fill_avg_salary(group)).reset_index(level=0, drop=True)

In [17]:
# Створіть описову статистику за допомогою методу describe для нового стовпчика.
avg_salary_stats = df['avg'].describe()
print("\nОписова статистика для нового стовпчика 'avg':")
print(avg_salary_stats)

Описова статистика для нового стовпчика 'avg':
count    8704.000000
mean     1666.704159
std       984.897129
min       482.774752
25%       817.339130
50%      1678.630074
75%      2162.688235
max      5066.363636
Name: avg, dtype: float64

In [18]:
# Збережіть отриману таблицю в CSV файл
output_file_path = r'e:\go_it\hw2\output_data.csv'
df.to_csv(output_file_path, index=False)